@charset "UTF-8";
/* 

    驴Qu茅 es un mixin en SASS/SCSS?
    Es una funci贸n que nos permite ahorrar l铆neas de c贸digo y pueden usar:
     Argumentos (son como las variables)
     @content

    Podemos definir varios tipos:
     Mixin sin Argumentos
     Mixin con Argumentos
         S贸lo 1 argumento
         M谩s de 1 argumento
         Argumento con valor por defecto
     Mixin con la Regla @content
     Mixin para Flex
     Mixin para Grid
     Mixin para Responsive Design
     C贸mo crear tu propio Mixin

*/
/* 
    creamos el mixin
    usamos con @include
    si no hay argumentos/parametros podemos no poder el ()
*/
header, header nav {
  background: black; }

header, header nav {
  color: black; }

header, header nav {
  color: red; }

main {
  color: green; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

article {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; }

footer {
  display: flex;
  flex-direction: "";
  justify-content: start;
  align-items: center; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    main {
      flex-direction: row;
      justify-content: start; } }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    footer {
      flex-direction: row; } }

header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center; }

main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 1fr);
  grid-area: 'espacio1 espacio2 ' 'espacio1 espacio2 ' 'espacio1 espacio2 '; }

header, header nav {
  background-color: tomato;
  color: white; }

main {
  gap: 1rem; }

header, header nav {
  background-color: green; }
