/* 

    ¿Qué es un mixin en SASS/SCSS?
    Es una función que nos permite ahorrar líneas de código y pueden usar:
    
    🔔 Argumentos (son como las variables)
    ➡️ @content

    Podemos definir varios tipos:
    🔹 Mixin sin Argumentos
    🔹 Mixin con Argumentos
        👉 Sólo 1 argumento ✨
        👉 Más de 1 argumento ✨
        👉 Argumento con valor por defecto ✨
    🔹 Mixin con la Regla @content
    🔹 Mixin para Grid
    🔹 Mixin para Flex
    🔹 Mixin para Responsive Design
    🔹 Cómo crear tu propio Mixin

*/

/* 
    Pasos: 

    1- Creamos el mixin.
    2- Usamos con @include.
    3- Si no hay argumentos/parametros podemos no poder el ().
*/













////////////////////////////////////////////////////

// mixin con ()
// Declaración --------------|1
@mixin miMixin() {
    background: black;
}

header {
    // Llamando al mixin --------------|2
    @include miMixin();
}

////////////////////////////////////////////////////













////////////////////////////////////////////////////

// mixin sin ()
// Declaración --------------|1
@mixin color {
    color: black;
}

header {
    // Llamando al mixin --------------|2
    @include color
}

////////////////////////////////////////////////////













////////////////////////////////////////////////////

// mixin con un parametro
// $parametro1 : red; // esto seria lo mismo que el parametro, es decir una variable
// Declaración con un parametro --------------|1
@mixin nombre($parametro1) {
    color: $parametro1;
}

header {
    // Llamando al mixin --------------|2
    @include nombre(red)
}

////////////////////////////////////////////////////













////////////////////////////////////////////////////

// Mixin con un parametro declarado dentro del mixin
// Declaración con parametro declarado --------------|1
@mixin nombrenro2($parametro1: green) {
    color: $parametro1;
}


main {
    // Llamando al mixin --------------|2
    @include nombrenro2()
}

////////////////////////////////////////////////////













////////////////////////////////////////////////////

// mixin de flex reutilizable
// Declaración con parametros --------------|1
@mixin flexGeneral($dy, $direction, $justcnt) {
    display: $dy;
    flex-direction: $direction;
    justify-content: $justcnt;
    align-items: center;
}


section {
    // Llamando al mixin flexGeneral--------------|2
    @include flexGeneral(flex, column, center)
}


article {
    // Llamando al mixin flexGeneral--------------|2
    @include flexGeneral(flex, row, start)
}


footer {
    // Llamando al mixin flexGeneral--------------|2
    @include flexGeneral(flex, '', start)
}

////////////////////////////////////////////////////













////////////////////////////////////////////////////

// mixin con media query
// Declaracion --------------|1
@mixin mobil() {
    @media screen and (max-width: 480px) {
        // Content hace referencia a las propiedades y valores que se va a declarar dentro del mixin en su llamado.
        @content;
    }
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Llamando al mixin mobil --------------|2
    @include mobil() {
        flex-direction: row;
        justify-content: start;
    }
}

// Utilizando dos mixin a la vez y utilizando una variable en su llamado
$columna: column;

footer {
    // Llamando al mixin flexGeneral --------------|2
    @include flexGeneral(flex, $columna, center);

    // Llamando al mixin mobil --------------|2
    @include mobil() {
        flex-direction: row;
    }
}

////////////////////////////////////////////////////













////////////////////////////////////////////////////

// Extend 
// El nombre tiene que comenzar con minuscula, de lo contrario no funcionaria como paso en clases.
%estilosFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%estiloGrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
    grid-area:
        'espacio1 espacio2 '
        'espacio1 espacio2 '
        'espacio1 espacio2 '
    ;
    // pueden colocar un media query
}

%fondo {
    background-color: #dddddd;
    padding: 20px;
}

header {
    background-color: tomato;
    color: white;

    nav {
        @extend header;

        ul {
            @extend %estilosFlex;
        }
    }
}

main {
    @extend %estiloGrid;
    gap: 1rem;
}

////////////////////////////////////////////////////













////////////////////////////////////////////////////

// Condicional
$variable1: "Sabina";

header {

    @if $variable1 =="Sabina" {
        background-color: green;
    }

    @else {
        background-color: red;
    }
}

////////////////////////////////////////////////////